*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Popping', sans-serif;
}

ul{
	padding-left: 0;
}

.space-1{
	width: 100%;
	height: 165px;
}

.wrap{
	background: #fff;
	background-size: 400% 400%; 
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.wrap > header{
	position: fixed;
	display: flex;
	flex-direction: column;
	padding-top: 25px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 12;
	text-align: center;
	font-weight: bold;
	
}


.wrap > header .container > ul{
	display: flex;
}

.wrap > header .container > ul li:not(:last-child), .social > ul li:not(:last-child){
	margin-right: 25px;
}

/* social */

.social{
	display: flex;
	justify-content: center;
}

.social > ul{
	display: flex;
	margin-bottom: 0 !important;
}

.social > ul li > a{
	display: block;
	display: grid;
	place-items: center;
	text-decoration: none;
	width: 40px;
	height: 40px;
	border: 2px solid transparent;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.social > ul li > a:hover{
	background: #000;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.083);
}

.social > ul li > a > i{
	color: #000;
}

.social > ul li > a:hover > i{
	color: #fff;
}


.social > ul li{
	list-style: none;
}

.active-page{
	background: #000 !important;
    color: #fff !important;
    border-color: #000 !important;
}

.active-page:hover{
	background: transparent !important;
    color: #000 !important;
    border-color: transparent !important;
}

/*--------------*/

/* wrap > header > ul */

.wrap > header .container > ul{
	margin-top: 10px;
	margin-bottom: 0 !important;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.wrap > header .container > ul li{
	list-style: none;
	padding: 12px 0;
	margin-bottom: 10px;
}

.wrap > header .container > ul li a{
	text-decoration: none;
	padding: 12px 20px;
	font-size: 14px !important;
	color: #000;
	border: 2px solid transparent;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.wrap > header .container > ul li a:hover{
	background: #000;
	color: #ffff;
}

/*--------------*/

/* wrapper */

.wrapper{
}

.gallery-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.music-audio{
	position: relative;
    width: 25%;
    height: 25%;
	cursor: pointer;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.music-audio::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}

.music-audio:hover::before{
    background: rgba(255, 255, 255, 0.076);
}


.music-audio a > img{
    width: 100%;
    height: 100%;
}

/*--------------*/

/* @media  */

@media(max-width: 800px){
    .wrap{
        height: auto;
    }
}

@media(max-width: 768px){
    .wrap{
        height: auto;
    }
    .music-audio{
        width: 33.33333333333333%;
        height: 33.33333333333333%;
    }
}

@media(max-width: 768px){
	.wrap > header .container > ul li:not(:last-child), .social > ul li:not(:last-child){
		margin-right: 5px;
	}
	.wrap > header .container > ul li a {
		text-decoration: none;
		padding: 10px 12px;
		font-size: 14px !important;
	}
}

@media(max-width: 500px){
	.wrap > header .container > ul li a {
		padding: 8px 8px;
		font-size: 12px;
	}
	.wrap > header .container > ul li:not(:last-child), .social > ul li:not(:last-child) {
		margin-right: 5px;
	}
	.wrap > header {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.social > ul {
		margin-bottom: 0 !important;
	}
	.wrap > header .container > ul {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.space-1 {
		height: 120px;
	}
}

@media(max-width: 450px){
	.wrap > header > .container{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.space-1 {
		height: 130px;
	}
	.wrap > header .container > ul li a {
		font-size: 8px !important;
	}
}


/* -------------------------- */

/* video page  */



/* -------------------------- */


/* sticky */


.sticky_header{
	background: rgb(255 255 255 / 63%);
}

/* .social > ul li > a.sticky-a:hover{
	box-shadow: 0 1px 8px rgba(255, 255, 255, 0.234);
	border-color: #fff;
}

.social > ul li > a > i.sticky-icon{
	color: #fff;
}

.sticky-btn{
	background: #fff;
}


.wrap > header .container > ul li a.sticky-btn:hover{
	color: #fff;
	background: #000;
	border-color: #fff;
} */

.sticky-ul{
	margin-top: 0 !important;
}

.sticky-page{
	color: #fff !important;
	background: #000 !important;
	border-color: #000 !important;
}

/* -------------- */
