*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Popping', sans-serif;
}

ul{
	padding-left: 0;
}

.space-1{
	width: 100%;
	height: 165px;
}

.wrap{
	background: #000;
	background-size: 400% 400%; 
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.wrap > header{
	position: fixed;
	display: flex;
	flex-direction: column;
	padding-top: 25px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 12;
	text-align: center;
	font-weight: bold;
	
}

.wrap > header .container > ul{
	display: flex;
}

.wrap > header .container > ul li:not(:last-child), .social > ul li:not(:last-child){
	margin-right: 25px;
}

/* social */

.social{
	display: flex;
	justify-content: center;
}

.social > ul{
	display: flex;
	margin-bottom: 0 !important;
}

.social > ul li > a{
	display: block;
	display: grid;
	place-items: center;
	text-decoration: none;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.social > ul li > a:hover{
	background: #fff;
}

.social > ul li > a > i{
	color: #fff;
}

.social > ul li > a:hover > i{
	color: black;
}

.social > ul li{
	list-style: none;
}

.active-page{
	background: transparent !important;
    color: #fff !important;
    border-color: #fff !important;
}

.active-page:hover{
	background: #fff !important;
    color: #000 !important;
    border-color: #fff !important;
}

/*--------------*/

/* wrap > header > ul */

.wrap > header .container > ul{
	margin-top: 10px;
	margin-bottom: 0 !important;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.wrap > header .container > ul li{
	list-style: none;
	padding: 12px 0;
	margin-bottom: 10px;
}

.wrap > header .container > ul li a{
	text-decoration: none;
	padding: 12px 20px;
	font-size: 14px !important;
	color: #000;
	background: #fff;
	border: 2px solid transparent;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.wrap > header .container > ul li a:hover{
	background: transparent;
	color: #fff;
	border-color: #fff;
}

/*--------------*/

/* wrapper */

.wrapper-video{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 30px;
}

.video-container{
    display: flex;
    flex-wrap: wrap;
}

.video{
    width: 49%;
    height: 350px;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 1%;
	box-shadow: 0 1px 6px #ffffff30;
	padding-bottom: 30px;
}

.video > h4{
	color: #fff;
	padding-top: 20px;
}

.video > iframe{
    display: block;
    width: 100%;
    height: 90%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}


.video:hover iframe{
    /* transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9); */
}

/*--------------*/

/* @media  */

@media(max-width: 1200px){
	.video{
		width: 49%;
		height: 280px !important;
	}
	.video > h4{
		font-size: 18px;
	}
}

@media(max-width: 900px){
	.video{
		width: 49%;
		height: 200px !important;
	}
	.wrap {
		min-height: 100vh;
	}
}

@media(max-width: 768px){
	.video{
		width: 49%;
		height: 180px;
	}
	.video > h4{
		font-size: 15px;
	}
	.wrap > header .container > ul li:not(:last-child), .social > ul li:not(:last-child){
		margin-right: 5px;
	}
	.wrap > header .container > ul li a {
		text-decoration: none;
		padding: 10px 12px;
		font-size: 14px !important;
	}
}

@media(max-width: 500px){
	.video > h4{
		font-size: 10px;
	}
	.video{
		width: 49%;
		height: 150px;
	}
	.wrap > header .container > ul li a {
		padding: 8px 8px;
		font-size: 12px;
	}
	.wrap > header .container > ul li:not(:last-child), .social > ul li:not(:last-child) {
		margin-right: 5px;
	}
	.wrap > header {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.social > ul {
		margin-bottom: 0 !important;
	}
	.wrap > header .container > ul {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.space-1 {
		height: 120px;
	}
}

@media(max-width: 450px){
	.wrap > header > .container{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.space-1 {
		height: 130px;
	}
	.wrap > header .container > ul li a {
		font-size: 8px !important;
	}
	.video {
		height: 140px !important;
	}
}

/* -------------------------- */

/* video page  */



/* -------------------------- */


/* sticky */


.sticky_header{
	background: #ffffff80;
}

.sticky-a:hover{
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.152);
}

.social > ul li > a > i.sticky-icon{
	color: #000;
}

.sticky-btn{
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.159);
}

.wrap > header .container > ul li a.sticky-btn:hover{
	color: #fff;
	background: #000;
	border-color: #000;
}

.sticky-ul{
	margin-top: 0 !important;
}

.sticky-page{
	color: #000 !important;
	background: #fff !important;
}


/* -------------- */