*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Popping', sans-serif;
}
body
{
	height: 100vh;
	background-image: linear-gradient(215deg, rgba(156, 156, 156, 0.03) 0%, rgba(156, 156, 156, 0.03) 50%,rgba(20, 20, 20, 0.03) 50%, rgba(20, 20, 20, 0.03) 100%),linear-gradient(107deg, rgba(179, 179, 179, 0.03) 0%, rgba(179, 179, 179, 0.03) 50%,rgba(7, 7, 7, 0.03) 50%, rgba(7, 7, 7, 0.03) 100%),linear-gradient(25deg, rgba(30, 30, 30, 0.01) 0%, rgba(30, 30, 30, 0.01) 50%,rgba(165, 165, 165, 0.01) 50%, rgba(165, 165, 165, 0.01) 100%),linear-gradient(146deg, rgba(54, 54, 54, 0.03) 0%, rgba(54, 54, 54, 0.03) 50%,rgba(246, 246, 246, 0.03) 50%, rgba(246, 246, 246, 0.03) 100%),linear-gradient(225deg, rgba(8, 8, 8, 0.01) 0%, rgba(8, 8, 8, 0.01) 50%,rgba(133, 133, 133, 0.01) 50%, rgba(133, 133, 133, 0.01) 100%),linear-gradient(38deg, rgba(57, 57, 57, 0.02) 0%, rgba(57, 57, 57, 0.02) 50%,rgba(196, 196, 196, 0.02) 50%, rgba(196, 196, 196, 0.02) 100%),linear-gradient(122deg, rgba(115, 115, 115, 0.02) 0%, rgba(115, 115, 115, 0.02) 50%,rgba(101, 101, 101, 0.02) 50%, rgba(101, 101, 101, 0.02) 100%),linear-gradient(154deg, rgba(217, 217, 217, 0.01) 0%, rgba(217, 217, 217, 0.01) 50%,rgba(126, 126, 126, 0.01) 50%, rgba(126, 126, 126, 0.01) 100%),linear-gradient(144deg, rgba(204, 204, 204, 0.01) 0%, rgba(204, 204, 204, 0.01) 50%,rgba(139, 139, 139, 0.01) 50%, rgba(139, 139, 139, 0.01) 100%),linear-gradient(90deg, rgb(0, 2, 29),rgb(4, 150, 89));
	margin: 0;
	padding: 0;
	background-size: 400% 400%; 
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	text-align: center;
	
}
header
{
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 12;
	text-align: center;
	font-weight: bold;
	
}

.social ul{
	position: absolute;
    top: 20%;
    left: 52%;
	padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;	
	overflow: hidden;
}
.social ul li{
	list-style: none; 
	margin: 10px 15px;

}
.social ul li .fa {
	font-size: 18px;
	line-height: 40px;
	transition: .4s;
	color: white;
	z-index: 1; 
}

.social ul li a:hover .fa {
	transform: translate (0, -10px);
	background: #fff;
    color: #2b1055;
	
}

header ul 
{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 70%;
   z-index: 1;
   float: center;
   margin: 40px 310px;
   text-align: center;
 
}
header ul li
{
   display: inline-block;
   list-style: none;
   margin-left: 20px;
}
header ul li a
{
   text-decoration: none;
   padding: 6px 15px;
   color: #fff;
   border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
   background: #fff;
   color: #2b1055;
}
	

.latest-img{
	position: relative;
	justify-content: center;
	top: 25px;
	left: 90px;
	width: 200px;
	margin: 0 auto 0 auto;
}
.btn1{
	position: relative;
	top: 175px;
	right: 70px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-weight: bold;
	background: red;
	width: 130px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
	
}
.btn1:hover, .btn1:focus, .btn1:active{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1); 
}

.gallery-section{
	width: 100%;
	padding: 60px 0;
}

.inner-width{
	width: 100%;
	margin: auto;
	padding: 0 20px;
}

.border{
	width: 180px;
	height: -30px;
	margin: 60px auto;
}

.gallery-section .gallery{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
}

.gallery-section .image{
	flex: 25%;
	overflow: hidden;
	cursor: pointer;
}

.gallery-section .image img{
	width: 200px;
	transition: 0.4s;
}

.gallery-section .image:hover img{
	transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width:768px){
	.gallery-section .image{
		flex: 50%;
	}
}

@media screen and (max-width:480px){
	.gallery-section .image{
		flex: 100%;
	}
}

.container{
	top: 80px;
	position: relative;
	min-height: 100vh;
}

.container h1{
	color: #fff;
	text-align: center;
	padding: 15px;
	font-size: 40px;
	font-weight: normal;
}

.container .video-container{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	padding: 10px;
}
.container .video-container .video{
	height: 250px;
	width: 350px;
	border: 5px solid #fff;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(0,0,0,.7);
	cursor: pointer;
	overflow: hidden;
}
.container .video-container .video iframe{
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: .2s linear;
	}

.container .video-container .video:hover iframe{
	transform: scale(1.1);
}

.container .popup-video{
	position: fixed;
	top:0; left:0;
	z-index: 100;
	background: rgba(0,0,0,.8);
	height: 100%;
	width: 100%;
	display: none;
}
.container .popup-video iframe{
	position: absolute;
	top:50%; left:50%;
	transform: translate(-50%, -50%);
	width: 750px;
	border: 3px solid #fff;
	object-fit: cover;
}
.container .popup-video span{
	position: absolute;
	top: 5px; right: 20px;
	font-size: 50px;
	color: #fff;
	font-weight: bolder;
	z-index: 100;
	cursor: pointer;
}

@media (max-width: 768px){
	.container .popup-video iframe{
		width: 95%;
	}
}

.shows{
	top: -90px;
	position: relative;
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	color: white;
}